.message {
    display: flex;
    padding: 15px;
    justify-content: flex-end;
}

.imageAndText {
    display: flex;
    align-items: flex-end;
    padding: 20px;

}

.imageAndText img {
    width: 48px;
    margin: 10px;
    display: flex;
    order: 2;

}

.text {
    order: 1;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background: #0066CC;
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.text:after {

}

.name {
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom:5px ;
}

.messageText {

}

.time {
display: flex;
    flex-direction: column-reverse;
}