.tech {
    padding: 10px;
    min-width: 400px;
    border-bottom: solid 1px #e4e4e4;
}

.developer {
    padding: 10px;
    min-width: 400px;
    border-bottom: solid 1px #e4e4e4;
}

.techHeader {
    min-width: 400px;

}

.developerHeader {width: 400px;

}

.row {
    display: flex;
}

.rowHeader {
    display: flex;
    table-layout: fixed;
    background-color: #e4e4e4;
    padding: 10px;
    font-weight: bold;
    width: 800px;

}

.loading {

}