.radio {
accent-color: black;
}

.radio::before {
    accent-color: black;
}


.radio:checked::before {
}

.label {
    display: flex;
    bottom: 10px;
    margin: 10px;
    color: black;
}

.options {
}
