.friendMessage {
    display: flex;
    padding: 15px;
}

.friendImageAndText {
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.friendImageAndText img {
    width: 48px;
    margin: 10px;
    display: flex;
    order: 1;
}

.friendText {
    order: 2;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    background: #F5F7FB;
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.friendText:after {

}

.friendName {
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 5px;
}


.friendMessageText {

}

.friendTime {
display: flex;
    flex-direction: column-reverse;
}
