.friendMessage {
    display: flex;

}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;

}

.friendText {
    background-color: #F5F7FB;
    max-width: 400px;
    font-size: 16px;
    line-height: 20px;
}

.friendText:after {

}

.friendName {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.friendMessageText {
    max-width: 400px;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
