.sendForm {
    margin: 0 200px 100px;
}

.textarea {
    margin-top: 100px;
    padding: 20px;
    resize: none;
    border-radius: 30px;
    width: 976px;
    height: 40px;
    vertical-align: bottom;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.button {
    font-family: 'Montserrat', sans-serif;
    width: 120px;
    height: 40px;
    border-radius: 30px;
    vertical-align: center;
    background-color: #0066CC;
    color: white;
    font-size: 16px;
    line-height: 20px;
    border: #0066cc;
    margin-left: 15px;

}

.button:hover {
    vertical-align: center;
}

.button:active {

}
