.button {

}

.disabled {
    background: #004D99;
}

.secondary {
    background-color: white;
}

.default {
    background: #0066CC;
}

.red {
    background: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
